@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
body {
    background-color: rgba(5, 5, 62, 0.203);
}

.nav {
    background-color: rgba(5, 5, 62, 0.494) !important;
}

.titleL {
    font-family: 'Lobster', cursive;
}

.detailscard {
    width: 70vw;
    height: 50vw;
}

.btnback {
    background-color: rgba(5, 5, 62, 0.494) !important;
    border: 1px rgba(5, 5, 62, 0.494) solid;
}