 @import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');
 body {
     background-color: rgba(5, 5, 62, 0.203);
 }
 
 .nav {
     background-color: rgba(5, 5, 62, 0.494) !important;
 }
 
 .titleL {
     font-family: 'Lobster', cursive;
 }
 
 li {
     font-family: 'Lobster', cursive;
 }
 
 .imgstable {
     height: 250px;
 }
 
 .desc {
     height: 200px;
 }